@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-Regular.eot');
  src: url('../../webfonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-Regular.woff') format('woff'),
      url('../../webfonts/SourceSansPro-Regular.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-Black.eot');
  src: url('../../webfonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-Black.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-Black.woff') format('woff'),
      url('../../webfonts/SourceSansPro-Black.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-BlackItalic.eot');
  src: url('../../webfonts/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-BlackItalic.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-BlackItalic.woff') format('woff'),
      url('../../webfonts/SourceSansPro-BlackItalic.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-Bold.eot');
  src: url('../../webfonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-Bold.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-Bold.woff') format('woff'),
      url('../../webfonts/SourceSansPro-Bold.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-BoldItalic.eot');
  src: url('../../webfonts/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-BoldItalic.woff') format('woff'),
      url('../../webfonts/SourceSansPro-BoldItalic.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-ExtraLight.eot');
  src: url('../../webfonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-ExtraLight.woff') format('woff'),
      url('../../webfonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-ExtraLightItalic.eot');
  src: url('../../webfonts/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-ExtraLightItalic.woff') format('woff'),
      url('../../webfonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-Italic.eot');
  src: url('../../webfonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-Italic.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-Italic.woff') format('woff'),
      url('../../webfonts/SourceSansPro-Italic.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-Light.eot');
  src: url('../../webfonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-Light.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-Light.woff') format('woff'),
      url('../../webfonts/SourceSansPro-Light.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-LightItalic.eot');
  src: url('../../webfonts/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-LightItalic.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-LightItalic.woff') format('woff'),
      url('../../webfonts/SourceSansPro-LightItalic.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-Regular.eot');
  src: url('../../webfonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-Regular.woff') format('woff'),
      url('../../webfonts/SourceSansPro-Regular.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-SemiBold.eot');
  src: url('../../webfonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-SemiBold.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-SemiBold.woff') format('woff'),
      url('../../webfonts/SourceSansPro-SemiBold.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../webfonts/SourceSansPro-SemiBoldItalic.eot');
  src: url('../../webfonts/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../webfonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
      url('../../webfonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
      url('../../webfonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
      url('../../webfonts/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
  font-style: italic;
}

.display1
{ // Display 1
font-family: Source Sans Pro;
font-weight: $text-font-weight-light;
font-size: $text-font-size-12;
line-height: $text-line-height-11;
letter-spacing: $text-letter-spacing-l;
}

.display2
{ // Display 2
font-family: Source Sans Pro;
font-weight: $text-font-weight-light;
font-size: $text-font-size-11;
line-height: $text-line-height-10;
letter-spacing: $text-letter-spacing-l;
}

.display3
{ // Display 3
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-10;
line-height: $text-line-height-9;
letter-spacing: $text-letter-spacing-m;
}

.display4
{ // Display 4
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-9;
line-height: $text-line-height-8;
letter-spacing: $text-letter-spacing-m;
}

.header1
{ // Header 1
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-8;
line-height: $text-line-height-7;
letter-spacing: $text-letter-spacing-m;
}

.header2
{ // Header 2
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-7;
line-height: $text-line-height-6;
letter-spacing: $text-letter-spacing-xs;
}

.header3
{ // Header 3
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-6;
line-height: $text-line-height-5;
}

.header4
{ // Header 4
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-5;
line-height: $text-line-height-3;
}

.header5
{ // Header 5
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-3;
line-height: $text-line-height-2;
}

.header6
{ // Header 5
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-2;
line-height: $text-line-height-2;
}

.subtitle1
{ // Subtitle 1
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-7;
line-height: $text-line-height-6;
letter-spacing: $text-letter-spacing-s;
}

.subtitle2
{ // Subtitle 2
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-6;
line-height: $text-line-height-5;
letter-spacing: $text-letter-spacing-xs;
}

.pre-display
{ // Pre-Dsiplay
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-5;
line-height: $text-line-height-4;
text-transform: uppercase;
}

.button1
{ // Button 1 (Mobile L)
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-5;
line-height: $text-line-height-3;

&.open-sans{
  font-family: "Open Sans", sans-serif;
}
}

.button2
{ // Button 2 (Mobile M, Desktop L)
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-3;
line-height: $text-line-height-2;

&.open-sans{
  font-family: "Open Sans", sans-serif;
}
}

.button3
{ // Button 3 (Desktop M)
font-family: Source Sans Pro;
font-weight: $text-font-weight-semibold;
font-size: $text-font-size-2;
line-height: $text-line-height-1;

&.open-sans{
  font-family: "Open Sans", sans-serif;
}
}

.body1
{ // Body 1 (Mobile L)
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-4;
line-height: $text-line-height-3;

  &.semibold{
    font-weight: $text-font-weight-semibold;
  }

  &.open-sans{
    font-family: "Open Sans", sans-serif;
  }
}

.body2
{ // Body 2 (Mobile M, Desktop L)
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-3;
line-height: $text-line-height-3;

  &.semibold{
    font-weight: $text-font-weight-semibold;
  }

  &.open-sans{
    font-family: "Open Sans", sans-serif;
  }
}

.body3
{ // Body 3 (Desktop M)
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-2;
line-height: $text-line-height-2;

  &.semibold{
    font-weight: $text-font-weight-semibold;
  }

  &.open-sans{
    font-family: "Open Sans", sans-serif;
  }
}

.caption
{ // Caption
font-family: Source Sans Pro;
font-weight: $text-font-weight-regular;
font-size: $text-font-size-1;
line-height: $text-line-height-1;
}

.icon-material-l
{
font-family: Material Design Icons;
font-size: $icon-font-size-material-l;
}

.icon-material-m
{
font-family: Material Design Icons;
font-size: $icon-font-size-material-m;
}

.icon-material-s
{
font-family: Material Design Icons;
font-size: $icon-font-size-material-s;
}

.icon-material-xs
{
font-family: Material Design Icons;
font-size: $icon-font-size-material-xs;
}
